<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
    <div class="content p-20">
      <h1><%= title %></h1>
      <p class="text-green-600">Welcome to <%= title %></p>
    </div>
  </body>
</html>
